<!DOCTYPE HTML>
<html>
<head>
    <title>Shrtn.com | {% block title %}Shorten that url{% endblock title %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">

    <style>
        body {
            background-color: #305558;
            background-image: url('http://www.publicdomainpictures.net/pictures/150000/velka/tropical-beach-1454007190ZAK.jpg');
            background-size: cover;
        }

        .btn-link {
            color: #4ebed2;
        }

        .btn-link:hover {
            text-decoration: none;
            color: #000;
        }
    </style>
</head>
<body>
<div class="cover-container d-flex h-100 p-3 mx-auto col-sm-6">
    <main role="main" class="inner cover">
        {% block content %}
        {% endblock content %}
    </main>
</div>
</body>
</html>
